section.hero-section, section.values{
    background: url("./stacked-waves.png") center center no-repeat;
    background-size: cover;
    object-fit: cover;
}

section.deals-of-the-day{
    background: url("./deals-bg.png") center center no-repeat;
    background-size: cover;
    object-fit: cover;
}
